body {
  background-color: rgba(255, 232, 232, 0.5);
}

.page {
  padding-top: 10px;
  text-align: center;
  font-family:"Comic Sans MS", "Comic Sans", "cursive";
}

#me {
  width: 15%;
  height: 15%;
}

.hz-logo {
  width: 25%;
  height: auto;
}