/* General */
body {
	background-color: rgba(255, 232, 232, 0.5);
}

.container {
	padding-top: 15px;
}

.page {
	padding-top: 10px;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.hz-logo {
	width: 25%;
	height: auto;
	padding-bottom: 2em;
}

/* Profile page */
.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url(../img/profile-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#me {
	width: 25%;
	height: auto;
}