/* Profession */

.profession-header {
    height: 50vh;
}

.profession-item {
    padding: 7.5%;
}

.company-title {
    padding-bottom: 10px;
}

.profession-item-1 {
    background-color: rgba(121, 141, 255, 0.5);
}

.profession-item .list {
    list-style-type: decimal;
}

.profession-item-2 {
    background-color: rgba(255, 100, 100, 0.5);
}

.profession-item-3 {
    background-color: rgba(255, 187, 104, 0.5);
}

.profession-item-4 {
    background-color: rgba(255, 43, 43, 0.5);
}

.profession-item-5 {
    background-color: rgb(156, 156, 156);
}

img {
    height: 250px;
    width: auto;
}