<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/general.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/me.jpg">

    <title>FAQ page</title>
</head>

<body>
    <div class="nav">
        <a class="nav-item" href="../index.html">Home</a>
        <a class="nav-item" href="profile.html">Profile</a>
        <a class="nav-item" href="dashboard.html">Dashboard</a>
        <a class="nav-item" href="#">FAQ</a>
    </div>
    <div class="page faq">
        <h2>FAQ</h2>
        <p>Q: How can you print a document from your laptop at HZ?</p>
        <p>A: At http://print.hz.nl can you log in with your HZ account and upload a file that you want to print,
            using your HZ pas by any HZ printers you will be able print them.</p>
        <hr>
        <p>Q: How can you scan a document a send it to your laptop at HZ?</p>
        <p>A: At a HZ printer you can scan your pas and choose scan and the files will be send to your mail box. </p>
        <hr>
        <p>Q: What do you need to do when you are sick / show symptoms of coronavirus?</p>
        <p>A: </p>
        <hr>
        <p>Q: How can you book a project space in one of the wings?</p>
        <p>A: On the home page on Self Service Portal you can choose Reservations & visitors and you will be able to
            book a room.</p>
        <hr>
        <p>Q: What are the instructions if you want to park your car at the HZ parking lot?</p>
        <p>A: </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script type='text/javascript' src='../js/general.js'></script>

</body>

</html>