<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/general.css">
    
    <title>FAQ page</title>
</head>

<body>
    <center>
        <div class="nav">
            <a id="home" href="../index.html">Home</a>
            <a id="profile" href="profile.html">Profile</a>
            <a id="dashboard" href="dashboard.html">Dashboard</a>
            <a id="faq" href="#">FAQ</a>
        </div>

        <div class="faq">
            <h2>FAQ</h2>
        </div>
    </center>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script type='text/javascript' src='JS/general.js'></script>

</body>

</html>