<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/motivation.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/me.jpg">

    <title>My motivation</title>
</head>

<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../img/hz-logo-small.png" class="d-inline-block align-top hz-logo-small" alt=""
                    loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My motivation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profession.html">Profession</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content-wrapper">
            <div class="page motivation">
                <img class="w-100 motivation-header" src="../img/motivation.jpg" alt="">
                <div class="motivation-item motivation-item-1">
                    <h1>Theory</h1>
                    <div class="row">
                        <div class="col-sm">
                            <p>Motivation is generally regarded as an important component for success, in school and at
                                work. According to Kendra Cheery "What is Motivation?", there is two types of
                                motivation: Extrinsic motivations and Intrinsic motivations. Extrinsic motivation comes
                                from outside the person and often involve rewards, Intrinsic motivation comes from the
                                person self and doing it for self-pleasure.
                            </p>
                            <br>
                            <p> In the article of Marjetka Kastner “What are motivators and what is motivation?” is said
                                motivation is a mental process that can lead people to their specific goal, there are
                                also motivators that helps people to achieve motivation if they chose the right one.
                            </p>
                            <p>
                                According to Beata Souders “What is Motivation? A Psychologist Explains.”, there are
                                five psychophysiological expressions of motivation:
                            </p>
                            <ul>
                                <li>Hormonal activity: When you stress or having a fight or flight reaction.</li>
                                <li>Cardiovascular activity: As response to an attractive incentive or a
                                    difficult/challenging task.</li>
                                <li>Ocular activity: Eye behavior like pupil size, eye blinks and eye movement.</li>
                                <li>Electrodermal activity: As response to threatening event.</li>
                                <li>Skeletal activity: facial expressions or bodily gestures etc.</li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <h4>Ted Talk</h4>
                            <p>Motivators should work to help people do things better but in the experience “The candle
                                problem” it did not, they did longer to solve the problem, it dulls thinking and blocks
                                creativity in this experiment, in some circumstances it works but for a lot it doesn’t,
                                this experiment is one of the robust findings but the most people are ignoring it. The
                                business is all built around extrinsic motivators like reward and it works well in the
                                20th century but in the 21st century, it mostly does not work. When you give people a
                                clear goal to go, they will have a focus on it and it will work well, but in any case,
                                you have to find it out on your own, and this way the reward as an extrinsic motivator
                                will block your motivation. The result of the experiments is higher incentives led to
                                worse performance, Autonomy, Mastery, and Purpose is important to the business operating
                                system for now. Autonomy is important to manage your own life, and in some big companies
                                they give you time to do things for your self and it actually works better and thing
                                happening faster because they did it because they want to and not because someone asked
                                them to do it. So intrinsic motivation is more important.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-2">
                    <h2>Performance motivation</h2>
                    <div class="row">
                        <div class="col-sm">
                            <p>The result of the test looks good, it says I am
                                <b>primarily intrinsically motivated</b>
                                also sometimes I will have a
                                <b>strong drive</b>
                                to finish tasks if it is important enough. If there is a
                                <b>reward</b>
                                offered is will also motivate me to work through difficult activities. The test also
                                says that sometimes I am motivated to
                                <b>avoid thing I do not enjoy</b>.
                            </p><br>
                            <p>When the school years starts, and we had to do things like HZP and ITP in the coming
                                school year, and someone told me to start early so I was already looking for what I can
                                do for it I think that is what called “intrinsically motivated”. In the first two weeks
                                I started with the most of my application assignment and on “DOM scripting” and “Event
                                handling” I got stuck for a couple days but because I started early I got more time to
                                find out how to do it, and I think its is because the Intrinsic motivation and linked to
                                Cardiovascular activity because things are difficult. I know if I can pass the 4 years I
                                will get a grade and also a chance to study for a higher grade this way and I think this
                                is also a motivator for me and I started at the lowest education(VMBO) I have never
                                thought I will be here at HZ(HBO) but once I finished my MBO it gave me more motivation
                                to climb higher in the ladder, also in the third and fourth year there are internships I
                                have to do and I am thinking about to go to somewhere like China because I think I will
                                have more motivation to do it there because the food and culture. Sometimes I am just
                                tired of gaming and want to go outside, so I can avoid to playing games and will not get
                                bored or not having fun at all but it just at that point and sometimes I just need to do
                                something else to get my motivation back.
                            </p>
                        </div>
                        <div class="col-sm">
                            <img src="../img/incentice-motivation.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-3">
                    <h2>Career anchors/values</h2>
                    <div class="row">
                        <div class="col-sm">
                            <h4>Top two most important anchors / values</h4>
                            <h5>Working Conditions</h5>
                            <p>I think it is almost right when I am a comfortable and quiet work environment or when the
                                people around me are also motivated, I will have a more relaxed feeling while working, I
                                think that also will motives me to work through the problems, for example I did my
                                internship(MBO) in goes and it was a small IT company but the ambiance there was really
                                nice and colleges where friendly, I think that helped me a lot with making progress.
                            </p>
                            <h5>Structure</h5>
                            <p>I think it not always true on this one because I started at VMBO and all the students
                                have too much relied on structured work methods like clear rules and the teacher has to
                                tell them exactly what they have to do. I think it because I finished my VMBO and after
                                it did the MBO and need some time to change my mindset on it, It is something that has
                                to come out of my self and the will wanting to learn, there will be no one after you to
                                tell you everything that you have to do.
                            </p>
                        </div>
                        <div class="col-sm">
                            <h4>The least important anchor</h4>
                            <h5>Autonomy</h5>
                            <p>I think it is true that I scored low on this one, for example in my MBO study I worked
                                with Scrum and I had to work on projects, Then we have to choose in pair what we want to
                                do and most of the time I don’t really care what to do and just ask my pair what he
                                wants, because If it is hard then I will learn more in the coming sprint and feel
                                challenged also motivated but if it is easy it will give me more time for my own to do
                                something what I want to learn.
                            </p>
                        </div>
                    </div>
                    <button id="showResultImageCareer">Show/hide all result</button>
                </div>
                <div class="motivation-item motivation-item-4" style="display: none;">
                    <h2>Test result</h2>
                    <div class="row">
                        <div class="col-sm">
                            <div class="testResultTwo">
                                <div class="partOne">
                                    <img src="../img/test-part-one.png" alt="partOne">
                                    <p>You sometimes have a strong drive for completing important tasks, but you will
                                        often not be driven if you do not feel the task is important enough, however you
                                        are very motivated by seeking reward for your behaviour. The offer of a reward
                                        (such as a promotion for working hard or winning a bet) will keep you motivated
                                        to complete difficult activities.
                                    </p>
                                </div>
                                <div class="partTwo">
                                    <img src="../img/test-part-two.png" alt="partTwo">
                                    <p>You sometimes have a strong drive for completing important tasks, but you
                                        will often not be driven if you do not feel the task is important enough.
                                        You enjoy activities that you see as increasing your happines, such as
                                        gatherings with friends and families or enjoyable activities. You also can
                                        be impulsive at times.<br>
                                        You are very motivated by seeking reward for your behaviour. The offer of a
                                        reward (such as a promotion for working hard or winning a bet) will keep you
                                        motivated to complete difficult activities.
                                    </p>
                                </div>
                                <div class="partThree">
                                    <img src="../img/test-part-three.png" alt="partThree">
                                    <p>You are motivated to avoid things that you don't like. This can sometimes
                                        mean trying to avoid activities you don't enjoy, or attempting to escape
                                        punishment or pain. Sometimes you feel nervous.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="testResult">
                                <p class="testTitle">Certificate: Test results</p>
                                <p class="testTitle">Are you Intrinsically or Extrinsically Motivated?</p>
                                <p class="finalResult">
                                    <img class="testImage"
                                        src="https://www.allthetests.com/quiz13/picture_thumb/pic_1114496102_1001.gif?1592828585"
                                        align="left" alt="1001" title="1001"></a>
                                    <b>For 40% you are: </b>
                                    You are primarily intrinsically motivated. You are able to
                                    enjoy yourself in almost any activity, because you tend to engage in an activity for
                                    its own sake. You find what you do to be enjoyable, and that is enough of a reason
                                    for you to do anything.<br />
                                    <b> 74% of 4435 quiz participants had this profile!</b>
                                    Profile A<br /><br />
                                    <b>You could also get this result:</b><br />
                                    <b>For 30% you are: </b>
                                    You are obviously lying. You need to take a long, hard look at
                                    yourself. Profile B<br /><br />
                                    <b>Or even this one:</b><br />
                                    <b>For 20% you are: </b>
                                    You are not motivated. At all. Where did you even find the incentive to take
                                    this quiz? Profile C<br /><br />
                                    <b>Or even this one:</b><br />
                                    <b>For 10% you are:</b>
                                    You are primarily extrinsically motivated. You prefer to let outside factors
                                    dictate your actions. You tend to focus more on the finish line instead of the race.
                                    It usually takes an external incentive like money or grades to get you going. This
                                    can include negative motivation such as losing money or threats. This kind of
                                    attitude can really undermine your creative side. You might want to rethink your
                                    motives a little, you may find that some of your best work comes from being
                                    self-motivated. Profile D
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../img/test-result.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-5">
                    <div class="row">
                        <div class="col-sm">
                            <h3>Conclusion</h3>
                            <p>My conclusion so far is really easy because so far the work I have done are all things
                                that comes out of myself, and there is also extrinsic motivation but it is just a reward
                                as grade, So the only thing I think that I have to do is keep my motivation and do what
                                I’m doing.
                            </p>
                        </div>
                        <div class="col-sm">
                            <h3>Feedback(Dutch)</h3>
                            <h5 style="text-align: left;">Danny Lifino:</h5>
                            <p>Hao ken ik als een student die voornamelijk intrensiek gemotiveerd is.
                                Dit is een resultaat van zijn leergierige werkhouding, waardoor hij continue nieuwe
                                technieken eigen probeert te maken.<br>
                                Hij toont nu ook al veel ambitie tijdens zijn studie: Hao wilt lid worden van de
                                activiteitencommise, hij rondt itp vroegtijdig af en hij helpt tweedejaars actief met
                                aanwezig te zijn voor interviews.<br>
                                Bovendien is hij actief in zijn klas en helpt anderen met programmeren.
                                <br><br>
                                Voor Hao is het hbo een perfecte keuze, mede door de gemotiveerde leeromgeving die de HZ
                                aanbiedt. Wanneer hij zijn huidige tempo van leren aanhoudt, geloof ik dat hij een van
                                de uitblinkers van de opleiding zal zijn.</p>
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-6">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Resource list</h2>
                            <p>Cherry, K. (2020, April 27). The Psychology of What Motivates Us.
                                <a href="https://www.verywellmind.com/what-is-motivation-2795378">
                                    https://www.verywellmind.com/what-is-motivation-2795378.</a>
                            </p>
                            <p>Souders, B. (2020, September 01). What is Motivation? A Psychologist Explains. Retrieved
                                October 23, 2020, from <a href="https://positivepsychology.com/what-is-motivation/">
                                    https://positivepsychology.com/what-is-motivation/</a>.
                            </p>
                            <p>Kastner, M. (2020, March 25). What are motivators and what is motivation? Retrieved
                                October 24, 2020, from
                                <a href="https://www.llacademia.com/what-are-motivators-and-what-is-motivation/">
                                    https://www.llacademia.com/what-are-motivators-and-what-is-motivation/</a>.
                            </p>
                            <p>Daniel, P. (2009, July).Ted: Ideals worth spreading.
                                <a href="https://learn.hz.nl/course/view.php?id=17530&sectionid=194532#section-7">
                                    https://learn.hz.nl/course/view.php?id=17530&sectionid=194532#section-7.</a>
                            </p>
                            <p>Motivation test
                                <a
                                    href="https://www.allthetests.com/quiz13/quiz/1114496102/Are-you-Intrinsically-or-Extrinsically-Motivated">
                                    https://www.allthetests.com/quiz13/quiz/1114496102/Are-you-Intrinsically-or-Extrinsically-Motivated.</a>
                            </p>
                            <p>Motivation test 2
                                <a
                                    href="http://www.seemypersonality.com/Personality-Report?x=MBx3x9814322-292813xs4hj2x1">
                                    http://www.seemypersonality.com/Personality-Report?x=MBx3x9814322-292813xs4hj2x1.</a>
                            </p>
                            <p>Career anchors / values test
                                <a href="https://www.123test.com/report/O4IWZCNNQEGCYEJEDR/">
                                    https://www.123test.com/report/O4IWZCNNQEGCYEJEDR/.<a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <label>Author: Hao Guo</label>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script type='text/javascript' src='../js/general.js'></script>
</body>

</html>