<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/motivation.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/me.jpg">

    <title>My motivation</title>
</head>

<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../img/hz-logo-small.png" class="d-inline-block align-top hz-logo-small" alt=""
                    loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My motivation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profession.html">Profession</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content-wrapper">
            <div class="page motivation">
                <div class="motivation-item motivation-item-1">
                    <div class="row">
                        <div class="col-sm">
                            <h1>Theory</h1>
                            <p>Motivation is generally regarded as an important component for success, in school and at
                                work. According to Kendra Cheery "What is Motivation?", there is two types of
                                motivation: Extrinsic motivations and Intrinsic motivations. Extrinsic motivation comes
                                from outside the person and often involve rewards, Intrinsic motivation comes from the
                                person self and doing it for self-pleasure.
                                According to Beata Souders “What is Motivation? A Psychologist Explains.”,
                            </p>
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-2">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Performance motivation</h2>
                            <p>The result of the test looks good, it says I am
                                <b>primarily intrinsically motivated</b>
                                also sometimes I will have a
                                <b>strong drive</b>
                                to finish tasks if it is important
                                enough. If there is a
                                <b>reward</b>
                                offered is will also motivate me to work through
                                difficult activities. The test also says that sometimes I am motivated to
                                <b>avoid thing I do not enjoy</b>.
                            </p><br>
                            <p>When the school years starts, and we had to do things like HZP and ITP in the coming
                                school year, and someone told me to start early so I was already looking for what I can
                                do for it I think that is what called “intrinsically motivated”. I know if I can pass
                                the 4 years I will get a grade and also a chance to study for a higher grade this way,
                                because in the third and fourth year there are internships and I am thinking about to go
                                to somewhere like China because I think I will have more motivation to do it there.
                                Sometimes I am just tired of gaming and want to go outside, so I can avoid to playing
                                games and will not get bored or not having fun at all.
                                <!-- For the most what the test result says it is true, my motivation to do things comes from
                                myself and if something is important, I will have the motivation to do it no matter
                                what. For the reward part, I think I am more motivated by or I think it is fun or not,
                                and the reward is just nice to have. Sometimes avoid thing I don’t like also helps with
                                motivation it is not always good but if thing aren’t that important It should be okay. -->
                            </p>
                        </div>
                        <div class="col-sm">
                            <h2>Career anchors/values</h2>
                            <h4>Top two most important anchors / values</h4>
                            <h5>Working Conditions</h5>
                            <p></p>
                            <h5>Structure</h5>
                            <p></p>
                            <h4>The least important anchor</h4>
                            <h5>Autonomy</h5>
                            <p></p>
                            <button id="showResultImageCareer">Show/hide result</button>
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-3" style="display: none;">
                    <h2>Test result</h2>
                    <div class="row">
                        <div class="col-sm">
                            <div class="testResultTwo">
                                <div class="partOne">
                                    <img src="../img/test-part-one.png" alt="partOne">
                                    <p>You sometimes have a strong drive for completing important tasks, but you will
                                        often not be driven if you do not feel the task is important enough, however you
                                        are very motivated by seeking reward for your behaviour. The offer of a reward
                                        (such as a promotion for working hard or winning a bet) will keep you motivated
                                        to complete difficult activities.</p>
                                </div>
                                <div class="partTwo">
                                    <img src="../img/test-part-two.png" alt="partTwo">
                                    <p>You sometimes have a strong drive for completing important tasks, but you
                                        will often not be driven if you do not feel the task is important enough.
                                        You enjoy activities that you see as increasing your happines, such as
                                        gatherings with friends and families or enjoyable activities. You also can
                                        be impulsive at times.<br>
                                        You are very motivated by seeking reward for your behaviour. The offer of a
                                        reward (such as a promotion for working hard or winning a bet) will keep you
                                        motivated to complete difficult activities.</p>
                                </div>
                                <div class="partThree">
                                    <img src="../img/test-part-three.png" alt="partThree">
                                    <p>You are motivated to avoid things that you don't like. This can sometimes
                                        mean trying to avoid activities you don't enjoy, or attempting to escape
                                        punishment or pain. Sometimes you feel nervous.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="testResult">
                                <p class="testTitle">Certificate: Test results</p>
                                <p class="testTitle">Are you Intrinsically or Extrinsically Motivated?</p>
                                <p class="finalResult">
                                    <img class="testImage"
                                        src="https://www.allthetests.com/quiz13/picture_thumb/pic_1114496102_1001.gif?1592828585"
                                        align="left" alt="1001" title="1001"></a>
                                    <b>For 40% you are: </b>
                                    You are primarily intrinsically motivated. You are able to
                                    enjoy yourself in almost any activity, because you tend to engage in an activity for
                                    its own sake. You find what you do to be enjoyable, and that is enough of a reason
                                    for you to do anything.<br />
                                    <b> 74% of 4435 quiz participants had this profile!</b>
                                    Profile A<br /> <br />
                                    <b>You could also get this result:</b><br /><b>For 30% you are: </b>
                                    You are obviously lying. You need to take a long, hard look at
                                    yourself. Profile B<br /> <br />
                                    <b>Or even this one:</b><br /><b>For 20% you are: </b>
                                    You are not motivated. At all. Where did you even find the incentive to take
                                    this quiz? Profile C<br /> <br />
                                    <b>Or even this one:</b><br /><b>For 10% you are:</b>
                                    You are primarily extrinsically motivated. You prefer to let outside factors
                                    dictate your actions. You tend to focus more on the finish line instead of the race.
                                    It usually takes an external incentive like money or grades to get you going. This
                                    can include negative motivation such as losing money or threats. This kind of
                                    attitude can really undermine your creative side. You might want to rethink your
                                    motives a little, you may find that some of your best work comes from being
                                    self-motivated. Profile D
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../img/test-result.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="motivation-item motivation-item-4">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Resource list</h2>
                            <p>Cherry, K. (2020, April 27). The Psychology of What Motivates Us.
                                <a href="https://www.verywellmind.com/what-is-motivation-2795378">
                                    https://www.verywellmind.com/what-is-motivation-2795378.</a>
                            </p>
                            <p>Souders, B. (2020, September 01). What is Motivation? A Psychologist Explains. Retrieved
                                October 23, 2020, from <a href="https://positivepsychology.com/what-is-motivation/">
                                    https://positivepsychology.com/what-is-motivation/</a>.
                            </p>
                            <p>Tanner, R. (n.d.). What is Motivation? Retrieved October 23, 2020, from
                                <a href="https://managementisajourney.com/what-is-motivation/">
                                    https://managementisajourney.com/what-is-motivation/</a>.
                            </p>
                            <p>Daniel, P. (2009, July).Ted: Ideals worth spreading.
                                <a href="https://learn.hz.nl/course/view.php?id=17530&sectionid=194532#section-7">
                                    https://learn.hz.nl/course/view.php?id=17530&sectionid=194532#section-7.</a>
                            </p>
                            <p>Motivation test
                                <a
                                    href="https://www.allthetests.com/quiz13/quiz/1114496102/Are-you-Intrinsically-or-Extrinsically-Motivated">
                                    https://www.allthetests.com/quiz13/quiz/1114496102/Are-you-Intrinsically-or-Extrinsically-Motivated.</a>
                            </p>
                            <p>Motivation test 2
                                <a
                                    href="http://www.seemypersonality.com/Personality-Report?x=MBx3x9814322-292813xs4hj2x1">
                                    http://www.seemypersonality.com/Personality-Report?x=MBx3x9814322-292813xs4hj2x1.</a>
                            </p>
                            <p>Career anchors / values test
                                <a href="https://www.123test.com/report/O4IWZCNNQEGCYEJEDR/">
                                    https://www.123test.com/report/O4IWZCNNQEGCYEJEDR/.<a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <label>Author: Hao Guo</label>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script type='text/javascript' src='../js/general.js'></script>
</body>

</html>