<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../css/general.css">
	<link rel="stylesheet" type="text/css" href="../css/profile.css">

	<!-- favicon -->
	<link rel="shortcut icon" href="../img/me.jpg">

	<title>Profile</title>
</head>

<body>
	<div id="page-container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="#">
				<img src="../img/hz-logo-small.png" class="d-inline-block align-top hz-logo-small" alt=""
					loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="../index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="dashboard.html">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="faq.html">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="motivation.html">My motivation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="profession.html">Profession</a>
					</li>
				</ul>
			</div>
		</nav>
		<div id="content-wrapper">
			<header class="masthead profile-header">
				<div class="container h-100">
					<div class="row h-100 align-items-center">
						<div class="col-12 text-center">
							<img id="me" src="../img/me.jpg" alt="me" />
							<h1 class="font-weight-light">Hao Guo</h1>
							<p class="lead">Something about my self</p>
						</div>
					</div>
				</div>
			</header>
			<div class="page profile">
				<div class="row profile-item profile-item-1">
					<div class="col-sm">
						<img src="../img/china.png" alt="" width="50%">
					</div>
					<div class="col-sm">
						<h4>Chinese/ Dutch</h4>
						<p> Actually, I'm Dutch on paper but have lived in China for 6 years(2003 till 2009), and
							Chinese is also my mother tongue, grown up in the Chinese culture. When I was 9 I came to
							the Netherlands and have to learn Dutch from the start, and as a third language is English
							and I'm just not good at it.
						</p>
					</div>
					<div class="col-sm">
						<img src="../img/netherlands.png" alt="" width="50%">
					</div>
				</div>
				<div class="row profile-item profile-item-2">
					<div class="col-sm education">
						<h4>Education</h4>
						<div class="content">
							<div class="educationBx">
								<img src="../img/scheldemond-logo.svg" alt="">
								<h2>Scheldemond College</h2>
								<h3>VMbo-K</h3>
								<p>2013-2017 Done</p>
							</div>
							<div class="educationBx">
								<img src="../img/scalda-logo.png" alt="">
								<h2>Scalda</h2>
								<h3>MBO 4 (Software developer)</h3>
								<p>2017-2019 Done</p>
							</div>
							<div class="educationBx">
								<img src="../img/hz-logo.png" alt="">
								<h2>HZ</h2>
								<h3>HBO-ICT</h3>
								<p>2020-present In progress</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row profile-item profile-item-3">
					<div class="col-sm work">
						<h4>Work experience</h4>
						<div class="content">
							<div class="workBx">
								<img src="../img/action-logo.png" alt="">
								<h2>Action</h2>
								<h3>Stock clerk</h3>
								<p>2017-2019</p>
							</div>
							<div class="workBx">
								<img src="../img/zw.png" alt="">
								<h2>Zuidwest Software B.V.</h2>
								<h3>Stagair (Software developer)</h3>
								<p>2019-2020</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row profile-item profile-item-4">
					<div class="col-sm hobby">
						<img src="../img/valorant-logo.png" alt="valorant">
						<img src="../img/lol-logo.jpg" alt="league of legends">
						<img src="../img/kimi-no-nawa.jpeg" alt="kimi no nawa">
						<img src="../img/qidian-logo.jpg" alt="起点中文网">
						<h4>Some hobbies</h4>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<label>Author: Hao Guo</label>
		</footer>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

	<!-- jQuery -->
	<script type='text/javascript' src='../js/general.js'></script>

</body>

</html>