<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/profession.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../img/me.jpg">

    <title>Profession</title>
</head>

<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../img/hz-logo-small.png" class="d-inline-block align-top hz-logo-small" alt=""
                    loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="motivation.html">My motivation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profession</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content-wrapper">
            <img class="w-100 profession-header top" src="../img/it.jpg" />
            <div class="page profession">
                <div class="profession-item profession-item-1">
                    <div class="row">
                        <div class="col-sm">
                            <h2 class="company-title">Tencent</h2>
                            <p>Tencent Holdings Ltd, also known as Tencent, is a Chinese multinational
                                technology conglomerate holding company.<br>
                                C++, Go, Java, Python.
                            </p>
                            <ul class="list">
                                <li>Game Engine Programmer</li>
                                <li>Database Administrator</li>
                                <li>Software Engineer (Server)</li>
                                <li>Application Engineer</li>
                                <li>Data Scientist</li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <img src="../img/tencent.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="profession-item profession-item-2">
                    <div class="row">
                        <div class="col-sm">
                            <img src="../img/huawei.jpg" alt="">
                        </div>
                        <div class="col-sm">
                            <h2>Huawei</h2>
                            <p>Huawei Technologies Co., Ltd. is a Chinese multinational technology company. It designs,
                                develops, and sells telecommunications equipment and consumer electronics(mainly
                                smartphones).<br>
                                Char, C/C++, Python, Java, Unix, Linux.
                            </p>
                            <ul class="list">
                                <li>Project Manager</li>
                                <li>Android App Developer</li>
                                <li>Java Software Engineer</li>
                                <li>Network Engineer</li>
                                <li>AI Algorithm and Application Engineer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profession-item profession-item-3">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Microsoft</h2>
                            <p>Microsoft is a US-based technology company. It was founded by Bill Gates and Paul Allen
                                in 1975 and quickly grew to become the largest software company in the world.<br>
                                C/C++/C#, .Net, F#, Python, R, SQL.
                            </p>
                            <ul class="list">
                                <li>Program Manager</li>
                                <li>Software Engineer</li>
                                <li>UX Designers</li>
                                <li>Security Software Engineer</li>
                                <li>Data & Applied Sciences</li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <img src="../img/micerosoft.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="profession-item profession-item-4">
                    <div class="row">
                        <div class="col-sm">
                            <img src="../img/oracle.png" alt="">
                        </div>
                        <div class="col-sm">
                            <h2>Oracle</h2>
                            <p>Oracle is a fully scalable relational database architecture and is often used by global
                                enterprises, which manage and process data across wide and local area networks.<br>
                                C/C++, Java, COBOL, PL/SQL, Visual basic.
                            </p>
                            <ul class="list">
                                <li>Software Developer</li>
                                <li>Project Manager</li>
                                <li>Applications Developer</li>
                                <li>Security Engineer</li>
                                <li>Machine Learning Engineer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profession-item profession-item-5">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Nedbase</h2>
                            <p>Nedbase Digital Agency is a Full-service Digital Agency in Middelburg (Zeeland) and
                                working on Websites, E-commerce, Applicaties, Social Intranet en Online Marketing.<br>
                                PHP, HTML, CSS, JavaScript.
                            </p>
                            <ul class="list">
                                <li>Frontend developer</li>
                                <li>Web Developer</li>
                                <li>Software Engineer</li>
                                <li>Projectmanager</li>
                                <li>Designer</li>
                            </ul>
                        </div>
                        <div class="col-sm">
                            <img src="../img/nedbase.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <label>Author: Hao Guo</label>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script type='text/javascript' src='../js/general.js'></script>
</body>

</html>